<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>BlogApp</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Blog all you want
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/blogs" target="_blank">Show Blogs</a>
        <a class="btn btn-success btn-lg" href="/blogs/create" target="_blank">Create a Blog</a>
      </p>
    </div>
  </div>
</section>
