<section>
  <div class="page-header">
    <h1>Blogs</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="blog in vm.blogs"
       ui-sref="blogs.view({ blogId: blog._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="blog.created | date:'mediumDate'"></span>
        by
        <span ng-if="blog.user" ng-bind="blog.user.displayName"></span>
        <span ng-if="!blog.user">Deleted User</span>
      </small>
      <hr/>
      <h4 class="list-group-item-heading" ng-bind="blog.title"></h4>
      <p>{{blog.body | limitTo:200}}...</p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.blogs.$resolved && !vm.blogs.length">
    No Blogs yet, why don't you <a ui-sref="blogs.create">create one</a>?
  </div>
</section>
